<%- include('../partials/header') %>

  <body>
    <%- include('../partials/nav') %>
      <div class="text-center mt-10">
        <h2 class="text-2xl text-red-600">No bookings yet</h2>
        <p class="text-red-500 mt-2">Please make a booking ✨</p>
      </div>
  </body>

  </html>